<ion-view view-title="Home">
  	<ion-content>
    	<div class="card" ng-repeat="listaCompra in listadoCompra">
            <div class="item item-divider">
                {{listaCompra.nombre}}
            </div>
            <div class ="item item-text-wrap">
                <a href="#/app/details/{{listaCompra.id}}" class="item item-icon-left">
                    <i class="icon ion-android-cart"></i>
                   {{listaCompra.supermercado}}
                   {{listaCompra.id}}
                </a>
            </div>
        </div>
 	</ion-content>
</ion-view>

